<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Diginovasi System Indonesia</div>
                                        <div class="h6 mt-0 title">Java Programmer (November 2020 - Present)</div>
                                        <p align="justify"><b>Diginovasi</b> is an outsource company that serve IT Solution. <b>JOB-Pertamina</b> is one of <b>Diginovasi</b> Client and collaborated with other SAP Partners from <b>Perdana Consulting</b> in purpose to give support for <b>JOB-Pertamina</b> users when use <b>Bussiness Process Management</b> for their operational.</p>
                                        <p align="justify">Working as a <b>Java Developer</b> that collaborated with SAP team partners from <b>Perdana Consulting</b> also analytical and visualization solution for <b>oil and gas industries</b>.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Full Stack</li>
                                                <li class="non_list">Web Application Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Java</li>
                                                        <li class="non_list">PostgreSQL</li>
                                                        <li class="non_list">Angular</li>
                                                        <li class="non_list">Groovy Server Page</li>
                                                        <li class="non_list">Git Bash</li>
                                                    </div>
                                                     <div class="col-md-6">
                                                        <li class="non_list">JavaScript</li>
                                                        <li class="non_list">Maven</li>
                                                        <li class="non_list">SOAP-UI</li>
                                                        <li class="non_list">WinSCP</li>
                                                        <li class="non_list">Putty</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Asiapay Indonesia</div>
                                        <div class="h6 mt-0 title">Java Programmer (April-2019 - Augustus-2020) | 1 Yr 7 Mos</div>
                                        <p align="justify"><b>Asiapay Indonesia</b> is a branch company from Asiapay International Payment Gateway from Hongkong. <b>Asiapay Indonesia</b> provided payment online solution include Credit Card, Local Bank Transfer, E-wallet and Loan Application.</p>
                                        <p align="justify">Working as a <b>Java Developer</b> that collaborated with international developer team and merchants that using Asiapay services.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Full Stack</li>
                                                <li class="non_list">Web Application Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Java</li>
                                                        <li class="non_list">Oracle</li>
                                                        <li class="non_list">Maven</li>
                                                        <li class="non_list">Java Server Pages</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">WinSCP</li>
                                                        <li class="non_list">JavaScript</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        