<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About Me</div>
                            <p align="justify">Hi, Warmest greeting from me! first let me introduce about myself.</p>
                            <p align="justify">My name is Sena, I am 27 years old now. Currently I'm living in Jakarta and my hometown from Lombok, Indonesia.</p>
                            <p align="justify">I am a Programmer and I love everything about technology especially in website development.</p>
                            <p align="justify">Sometimes in my spare time I love to travel to new places, have some good coffee and also explore new technology.</p>
                            <p align="justify">To learn more about me, keep exploring my site or reach out directly.</p>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">June 16, 1993</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">senaersania@gmail.com</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Mobile No:</strong>
                            </div>
                            <div class="col-sm-8">+6281240679868</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </div>
                            <div class="col-sm-8">Jln. Karet Belakang 1 no 18, Jakarta Selatan</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">Indonesia, English, Bali, Java</div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

