<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2018-2018</p>
                            <div class="h5">Creative School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Creative School</div>
                            <h4 class="category">COURSE-NET</h4>
                            <ul>
                                <li>Completed Java Spring Courses.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2011-2018</p>
                        <div class="h5">College</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Informatics Engineer</div>
                                <h4 class="category">Brawijaya University</h4>
                                <ul>
                                    <li>Majoring Informatics engineering with <b>GPA 2.92</b></li>
                                        <li>Published Machine Learning Journal <a href="https://garuda.ristekbrin.go.id/documents/detail/735836" target="_blank" rel="tooltip" title="Journal">Click Here</a></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2008-2011</p>
                        <div class="h5">Senior High School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Public Senior High School</div>
                                <h4 class="category">SMAN 1 Mataram</h4>
                                <ul>
                                        <li>Completed Senior High School education</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2006-2008</p>
                        <div class="h5">Junior High School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Public Junior High School</div>
                                <h4 class="category">SMPN 2 Mataram</h4>
                                <ul>
                                        <li>Completed Junior High School education</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               